@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("../fonts/NotoSans/NotoSansThai-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
html {
  font-size: 16px;
  --primary: #062241;
}

body {
  letter-spacing: 0.015em;
  font-family: "NotoSansThai", sans-serif;
}

button:focus {
  outline: unset !important;
}
*:focus {
  outline: unset !important;
}

/* The checkbox */
.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox .checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 1.4em;
  width: 1.4em;
  margin-right: 1em;
  border: 2px solid #c4c4c4;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark,
.checkbox input:checked ~ .checkmark {
  background-color: #2273de;
  border-color: #2273de;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  background-image: url("../images/checkbox-check.svg");
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.selectize-input {
  box-shadow: none !important;
  padding: 0.7rem !important;
  border-radius: 0.5rem;
  border-color: #e5e7eb;
}

.selectize-input > input {
  font-size: 1.025rem;
}
.selectize-control.multi .selectize-input [data-value] {
  background: var(--primary);
  border: 0;
  font-size: 1.025rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem !important;
  border-radius: 20px;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  border: 0;
  display: inline-flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  font-weight: 100;
  font-size: 1rem;
  margin-left: 10px;
  position: inherit;
}

.bro-max-width {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1600px;
  margin: auto;
}
.text-sans-serift {
  font-family: sans-serif;
}
.text-en {
  font-family: "Poppins", "NotoSansThai", sans-serif;
  letter-spacing: 0.025em;
}
.button_ghost {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.25s;
  cursor: pointer;
  box-sizing: border-box;
}
.button_ghost {
  background: rgba(230, 234, 255, 0);
}
.button_ghost.hilight {
  background: rgba(230, 234, 255, 0.1);
}
.button_ghost:hover {
  background: rgba(230, 234, 255, 0.25) !important;
}
.button_ghost:active {
  background: rgba(230, 234, 255, 0.15) !important;
}

.light_theme .button_ghost {
  background: rgba(159, 155, 201, 0);
}
.light_theme .button_ghost.hilight {
  background: rgba(159, 155, 201, 0.1);
}
.light_theme .button_ghost:hover {
  background: rgba(159, 155, 201, 0.2) !important;
}
.light_theme .button_ghost:active {
  background: rgba(159, 155, 201, 0.5) !important;
}

.b-nav_item {
  height: 2.5rem;
  min-width: 2.5rem;
}
.carousel-overflow .owl-stage-outer,
.carousel-overflow .swiper-wrapper,
.carousel-overflow .swiper-container {
  overflow: visible;
}
[x-cloak] {
  display: none;
}
.logo .b-nav_item,
.logo .font-bold {
  transition: all 0.5s;
}
#headder {
  transition: all 0.25s;
}
html:not([data-scroll="0"]) .b-nav_item {
  height: 3.5rem !important;
  width: auto !important;
}
html:not([data-scroll="0"]) .logo .font-bold {
  display: none;
}
